:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.header{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 5%;
  font-weight:bold;
  
}
.header > div{
  font-size: xx-large;
}
.header ul{
  display: flex;
  list-style-type: none;
  gap: 3rem;
  margin: 0;
  padding: auto;
}
.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.products-list{
  margin-left: 50px;
  margin-right: 50px;

}
